.dialog_title {
    background-color: $main-background !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.dugme {
    height: 35px !important;
    min-width: 55px !important;
}