.solidatnost_online {
    .v-toolbar__content {
        justify-content: space-around !important;
    }
    // button.v-btn {
    button.solidarnost_btn {
        width: 35px !important;
        height: 35px !important;
        color: $main-icon-color !important;
    }
    i.solidarnost_icon {
        padding-right: 0 !important;
    }
    .selected {
        border: thin solid $main-icon-color !important;
    }
    .v-chip {
        min-width: 100px !important;
        // width: 200px !important;
        justify-content: center;
        background-color: white !important;
        cursor: pointer;
    }
    .v-chip-lgAndUp {
        width: 220px !important;
    }
    .v-chip__content,
    i.solidarnost_icon,
    .solidarnost_icon_avatar {
        color: $main-icon-color !important;
    }
    .v-avatar {
        margin-right: 10px !important;
        min-width: 38px !important;
        height: 48px !important;
    }
    //za favorit obavestenja
    i.v-icon.star_icon {
        color: yellow !important;
    }
}