.v-snack__wrapper {
    min-width: auto !important;
}

.v-snack__content {
    font-size: 12px !important;
    padding: 10px 12px !important;
    color: white !important;
}

.v-btn__content {
    font-size: 12px !important;
}

.v-snack__btn {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.v-btn {
    border-color: rgba(255, 255, 255, 1) !important;
}