@import "mixin";
@import "variables";
@import "./views/intro.scss";
@import "./views/home.scss";
@import "./views/navbar.scss";
@import "./views/footer.scss";
@import "./views/aukcija.scss";
@import "./views/obavestenja.scss";
@import "./components/dialogs/dialog_da_ne.scss";
@import "./components/dialogs/dialog_for_login.scss";
@import "./add-ons/snackbar.scss";
@import "./views/meni/solidarnost_online/solidarnost_online.scss";
@import "./views/meni/solidarnost_online/v-cards.scss";
@import "./views/meni/solidarnost_online/banka.scss";
@font-face {
    font-family: "HennyPenny";
    src: local("HennyPenny"), url(../assets/fonts/HennyPenny-Regular.ttf) format("truetype");
}

*,
html,
body,
// footer,
div.row {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: sans-serif;
    font-size: 12px;
    color: black;
}

.mainPage {
    padding: 0 !important;
    // min-height: 100vh !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

div.col-left,
div.col-right {
    margin: 0;
    padding: 0;
}

//za APP.vue transition
.v-main {
    .fade-enter-active,
    .fade-leave-active {
        transition-duration: 0.3s;
        transition-property: opacity;
        transition-timing-function: ease;
    }
    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }
}

.v-btn {
    color: black !important;
}