@import "mixin";
@import "variables";
@import "./views/intro.scss";
@import "./views/home.scss";
@font-face {
    font-family: "HennyPenny";
    src: local("HennyPenny"), url(../assets/fonts/HennyPenny-Regular.ttf) format("truetype");
}

*,
html,
body,
div.row {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12px;
    color: black;
}

.mainPage {
    padding: 0 !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

div.col-left,
div.col-right,
{
    margin: 0;
    padding: 0;
}

.v-main {
    .fade-enter-active,
    .fade-leave-active {
        transition-duration: 0.3s;
        transition-property: opacity;
        transition-timing-function: ease;
    }
    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }
}