// $main-color: #4285F4; // A bright shade of blue (Google Blue) 4285F4
// $main-background: #F5F5F5; // A light gray background F5F5F5
// $main-icon-color: #0F4C81; // A medium gray for icon color 673AB7
// $main-solidarnost: #0F4C81; // A deep shade of purple 757575
// $main-v-card-background: #FFFFFF; // A white background for card elements FFFFFF
// $success: #4CAF50; // A vibrant green (success)
// $error: #F44336; // A strong red (error)
// $warning: #FFC107; // A warm yellow (warning)




    //old colors
    $main-color: #0099C3;
    $main-background: #8d81b8;
    $main-icon-color: royalblue;
    $main-solidarnost: #988BC7;
    $main-v-card-background: rgb(226, 220, 252);
    $success: #4CAF50;
    $error: #FF5252;
    $warning: #FFC107;



// Dark Gray Background with Light Gray Text:
// Card Background: #333333
// Text Color: #CCCCCC

// Light Blue Background with Dark Blue Text:
// Card Background: #E6F3FF
// Text Color: #0F4C81

// Light Purple Background with Dark Purple Text:
// Card Background: #EAE4F5
// Text Color: #513E62

// Light Green Background with Dark Green Text:
// Card Background: #D6F5E3
// Text Color: #176337