$main-color: #0099C3;
$main-background: #8d81b8;
$main-icon-color: royalblue;
$main-solidarnost: #988BC7;
$main-v-card-background: rgb(226, 220, 252);
$success: #4CAF50;
$error: #FF5252;
$warning: #FFC107;